<h1>Hello</h1>

<% if current_user %>
          <li class="nav-item"><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% if current_user.admin %>
            <li class="nav-item"><%= link_to 'Admin', rails_admin_path, class: 'nav-link' %></li>
          <% end %>
        <% else %>
          <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class: 'nav-link'  %></li>
<% end %>
