<!DOCTYPE html>
<html>
  <head>
    <title>Bonilla Bucks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <% if current_user %>
      <li class="nav-item"><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      <% if current_user.admin %>
        <li class="nav-item"><%= link_to 'Admin', rails_admin_path, class: 'nav-link' %></li>
      <% end %>
    <% else %>
      <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class: 'nav-link'  %></li>
    <% end %>
    <h3>Bonilla Bucks</h3>
  </header>
  <br><br><br>
  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class='alert alert-dismissible fade show card alertCard' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <li aria-hidden="true">&times;</li>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
